/* ----------------------
 =====> GLOBAL
-------------------------- */
@font-face {
  font-family: OneTrick,;
  src: url('../public/one_trick_pony_ot.otf');
}

html,body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: OneTrick;
  height: 100%;
}


#root {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #EDE7D9;
}


/* ----------------------
 =====> BOOK ROUTE
-------------------------- */
.book-container {
  height: 100%;
}

.book-content {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.book-content p {
  display: flex;
  flex-wrap: wrap;
}

.book-content a {
   color: #4B4237;
   text-decoration: none;
  margin: 10px;
  font-size: 50px;
  cursor: pointer;
}

.book-content a:hover {
  color: #D5A021;
}

/* ----------------------
 =====> TOKEN ROUTE
-------------------------- */

.token-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.token-container p {
   color: #4B4237;
   font-size: 50px;
}

.token-container .back {
  background-color: #4B4237;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
}

.token-container .back:hover {
  background-color: #D5A021;
}

/* ----------------------
 ====> PAGINATION NAV
-------------------------- */
 .nav {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 10%;
}





@media only screen and (min-width: 600px) {
  .book-content p {
    margin: 50px;
  }

  .book-content a, .token-container p {
    font-size: 4.5em;
  }

  .css-1j4k3n5-MuiButtonBase-root-MuiPaginationItem-root {
    width: 60px;
    min-width: 60px;
    min-height: 60px;
    height: 60px;
  }


}


@media only screen and (min-width: 768px) {
  .book-content {
    display: grid;
    grid-template-columns: 50vw 50vw;  
    grid-template-rows: repeat(48, 1fr);
    /* align-items: center; */
  }

  .book-content p {
    grid-row-end: 20;
  }
}